version: "3.9"
services:
  frontend:
    build:
      context: .
      dockerfile: ./src/Dockerfile
    env_file:
      - .env
    volumes:
      - ./:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    command: npm run dev -- --host
    depends_on:
      - backend

  backend:
    build:
      context: ./src/backend
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - ./src/backend:/app
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
      - FLASK_APP=backend.py
    command: python -m flask run --host=0.0.0.0 --reload
    depends_on:
      - redis
      - db

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: web_fitness_app
      POSTGRES_USER: web_fitness_app_user
      POSTGRES_PASSWORD: mysecretpassword
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
