version: "3.9"
services:
  frontend:
    build:
      context: .
      dockerfile: ./src/Dockerfile
    env_file:
      - .env
    ports:
      - "8080:80"
    depends_on:
      - backend

  backend:
    build:
      context: ./src/backend
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=production
